* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: rgb(196, 196, 196);

    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/*   LAPTOP   */
@media all and (min-width: 1025px) {
    .grid-container {
        display: grid;
        grid-template-columns: 8, 1fr;
    }

    .grid-item-0 {}

    /*logo*/
    #logo img {
        width: 150px;
    }

    .grid-item-1 {
        position: fixed;
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: rgb(146, 146, 146);
    }

    /*text-logo*/
    .grid-item-2 {
        margin-left: 200px;
        grid-column: 2/7;
        grid-row: 1/2;
        background-color: rgb(146, 146, 146);

    }

    /*nav*/
    .grid-item-3 {
        grid-column: 2/8;
        grid-row: 2/2;
        background-color: chartreuse;
    }

    /*video*/
    .grid-item-4 {
        grid-column: 1/4;
        grid-row: 3/4;
    }

    /*intro-text*/
    .grid-item-5 {
        grid-column: 4/7;
        grid-row: 3/4;
    }

    /*bild*/
    .grid-item-6 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    /*text*/
    .grid-item-7 {
        grid-column: 3/4;
        grid-row: 4/5;

    }

    /*bild2*/
    .grid-item-8 {
        grid-column: 4/5;
        grid-row: 4/5;
    }

    /*text2*/
    .grid-item-9 {
        grid-column: 5/6;
        grid-row: 4/5;
    }

    /*footer*/
    .grid-item-10 {
        grid-column: 1/8;
        grid-row: 5/6;

    }


}

/*   TABLET   */
@media all and (min-width: 601px) and (max-width: 1024px) {
    .grid-container {
        display: grid;
    }

    .grid-item-0 {}

    .grid-item-1 {}

    .grid-item-2 {}

    .grid-item-3 {}

    .grid-item-4 {}

    .grid-item-5 {}

    .grid-item-6 {}

    .grid-item-7 {}

    .grid-item-8 {}

    .grid-item-9 {}

    .grid-item-10 {}


}

/*   PHONE   */
@media all and (max-width: 600px) {
    .grid-container {
        display: grid;
    }

    .grid-item-0 {}

    .grid-item-1 {}

    .grid-item-2 {}

    .grid-item-3 {}

    .grid-item-4 {}

    .grid-item-5 {}

    .grid-item-6 {}

    .grid-item-7 {}

    .grid-item-8 {}

    .grid-item-9 {}

    .grid-item-10 {}


}